@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);

/* CSS declarations go here */
body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #e4e1e1 100%);
  background-attachment: fixed; */

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 0;
  margin: 0;

  /* font-size: 14px; */
  font-weight: 100;
}

.container {
  max-width: 65%;
  margin: 0 auto;
  min-height: 100%;
  /* background: #ffffff; */
  /* background: rgba(181, 181, 181, 0.7); */
  background: transparent;
}

.login-box {
  background-image: linear-gradient(to bottom, #0c0c0d, #404040 100%);
  /* background-attachment: fixed; */
  font-weight: 100;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

/* Login */
.login-form {
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
}

.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
}

.login-text .fa-stack-1x{
  color: black;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}

.login-username:focus, .login-password:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
}

.login-submit:hover, .login-submit:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

.logout {
  border: 1px solid black;
  background: transparent;
  color: black;
  display: block;
  margin: .25rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  right: 0;
  margin-right: 0 !important;
}

.logout:hover, .logout:focus {
  background: black;
  color: white;
  transition: 250ms background ease-in;
}


/*
[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.underlay-black {
  background: rgba(0,0,0,0.9);
  z-index: -1;
}
.underlay-photo {
  animation: hue-rotate 6s infinite
  background: url('https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg');
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
} */

/* Input */
input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input:focus {
  outline: 0 transparent solid;
}
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  /* display: inline-block; */
  margin-right: 1em;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #dfdfdf solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@@media (max-width: 600px) {
 li {
   padding: 12px 15px;
 }

 .search {
   width: 150px;
   clear: both;
 }

 .new-task input{
   padding-bottom: 5px;
 }
}

/* Reset */
*,
*:after,
*::before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style-type: none;
   outline: none;
}
